@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
  @apply flex min-h-screen w-screen flex-col overflow-y-scroll overflow-x-clip scroll-smooth;
}

.page {
  @apply h-screen w-screen;
}

h6 {
  @apply text-4xl;
}

h5 {
  @apply text-5xl;
}

h4 {
  @apply text-6xl;
}

h3 {
  @apply text-7xl;
}

h2 {
  @apply text-8xl;
}

h1 {
  @apply text-9xl;
}

p {
  @apply text-4xl;
}

.heart {
  @apply absolute overflow-visible;
}

svg {
  @apply overflow-visible;
}

.heart path {
  stroke-dashoffset: 1;
  stroke-dasharray: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  @apply invisible fixed bottom-0 left-0 right-0 top-0 fill-none stroke-[1.5rem];
}

html * {
  @apply leading-relaxed;
}